<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"seafood-shop/banner"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main id="content" class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"seafood-shop/best-seller-section"} /--></main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"seafood-shop/sustainability-section"} /-->
<!-- wp:pattern {"slug":"seafood-shop/faq-section"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
