html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.page-template-full-width .entry-content {
	margin-top: 0;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

.wp-element-button,
.wp-block-button__link,
a.wp-block-post-excerpt__more-link {
	transition: all 0.3s;
}

.wp-element-button:hover,
.wp-block-button__link:hover,
a.wp-block-post-excerpt__more-link:hover {
	background-color: var(--wp--preset--color--secondary) !important;
	border-color: var(--wp--preset--color--secondary) !important;
	color: var(--wp--preset--color--primary) !important;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

footer.wp-block-template-part {
	margin: 0;
}

.orderby {
	padding: 15px;
}

div#sticky-header {
	z-index: 91 !important;
}

/* -------------- pagination start----------------*/

.page-numbers {
	background: var(--wp--preset--color--primary);
	margin: 0 0 5px 5px;
	padding: 6px 13px;
	border-radius: 6px;
	font-size: 12px;
	display: inline-block;
	color: var(--wp--preset--color--white);
}

.page-numbers:hover {
	color: var(--wp--preset--color--white);
}

.page-numbers.dots {
	background-color: transparent;
}

.wp-block-query-pagination {
	gap: 10px;
}

/* -------------- pagination End----------------*/

/* -------------- woocommerce-breadcrumb ----------------*/

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
	color: var(--wp--preset--color--link-color);
}

/* -------------- woocommerce-breadcrumb end----------------*/

/* -------------- Menus ----------------*/
.wp-block-navigation-item__content {
	padding-bottom: 3px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}

.wp-block-navigation-submenu li a:hover::before {
	left: 50%;
}

/* -------------- Menus ENd----------------*/

.wp-block-archives-list.wp-block-archives li::before,
.wp-block-categories-list.wp-block-categories li::before,
.taxonomy-category a::before {
	font-family: "Font Awesome 7 Free";
	content: "\f054";
	margin-left: 8px;
	font-weight: 600;
	font-size: 14px;
}

.wp-block-archives-list.wp-block-archives li,
.wp-block-categories-list.wp-block-categories li {
	list-style-type: none;
}

.wp-block-archives-list.wp-block-archives,
.wp-block-categories-list.wp-block-categories,
.taxonomy-category a {
	padding-right: 10px;
}

.wp-block-tag-cloud a.tag-cloud-link {
	font-size: 16px !important;
}

.tag-cloud-link::before,
.taxonomy-post_tag a:before {
	font-family: "Font Awesome 7 Free";
	content: '\f02b';
	font-weight: 600;
	margin-left: 8px;
}

.tag-cloud-link,
.taxonomy-post_tag a {
	text-decoration: none;
	background: var(--wp--preset--color--primary);
	margin: 0 0 5px 5px;
	padding: 5px 10px;
	border-radius: 6px;
	font-size: 12px;
	display: inline-block;
	color: var(--wp--preset--color--white);
	text-decoration: none;
}

.products-block-post-template li {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.column-has-radius {
	border-radius: 8px;
}

.has-bg-image {
	background: #fff;
	border-radius: 100px;
	height: 100px;
	width: 100px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .has-arrow ul {
	padding: 0;
}

footer .has-arrow ul li:before {
	content: "\f345";
	font-family: 'dashicons';
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 12px;
}

footer .has-arrow ul li {
	list-style: none;
	padding-right: 15px;
	position: relative;
}

a.wp-block-post-excerpt__more-link {
	background: var(--wp--preset--color--primary);
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding: 8px 20px;
	border-radius: 6px;
	position: relative;
}

.wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right.wc-block-grid__product-onsale {
	background: #cf0000;
	border: none;
	color: #fff;
	font-size: 12px;
}

@media (max-width: 720px) {

	.no-border-mobile,
	.no-border-mobile .wp-block-column {
		border: none !important;
	}
}

/* blog page style */
.wp-block-post-author__name::before {
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
	content: "\f007";
	padding-left: 8px;
}

.wp-block-post-date time::before {
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
	content: "\f073";
	padding-left: 8px;
}

.wp-block-read-more-is-layout-flow::after {
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
	content: "\f061";
	padding-right: 8px;
}

.wp-block-read-more-is-layout-flow:hover::after {
	padding-right: 10px;
	transition: color 0.10s ease;
}

a.wp-block-post-author-name__link:before {
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
	content: "\f007";
	padding-left: 8px;
}

.wp-block-cover {
	z-index: 1;
}

/* blog page style */

.sidebar a {
	text-decoration: none;
}

.wp-block-image img {
	vertical-align: middle;
}

/* responsive style */
@media (max-width: 768px) {
	.brands {
		padding-top: 20px !important;
	}

	.header-info-wrapper {
		display: none !important;
	}

	.r-blog-spacing {
		margin-top: 40px !important;
		margin-bottom: 40px !important;
	}
}

/* seafood-shop styles */
.has-no-underline a {
	text-decoration: none;
}

.form-submit input.wp-block-button__link.wp-element-button {
	border: none;
}

header a {
	text-decoration: none;
}

/* Header */
.header-bottom .header-btm-left nav ul a:hover {
	color: var(--wp--preset--color--primary);
}

.header-bottom .header-btm-left nav .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container li a:hover {
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--text-1);
}

.header-bottom .header-btm-left .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container li a {
	padding: 8px 10px 12px;
}

.header-top .block-editor-block-list__block.header-logo-box {
	margin-bottom: 0;
}

.home .header-top .header-logo-box {
	margin-bottom: -65px;
	z-index: 3;
	position: relative;
}

.header-top .header-phone-inner {
	flex-wrap: wrap;
}

.home .header-bottom {
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: transparent !important;
}

.header-bottom .header-account svg.wc-block-customer-account__account-icon {
	height: 30px;
	width: 30px;
}

.header-bottom .header-btm-right .header-wishlist img {
	height: 20px;
	width: auto !important;
}

.header-bottom .header-btm-right .header-wishlist a {
	display: flex;
}

.header-bottom .header-btm-right .header-wishlist a {
	width: 22px;
}

.header-bottom .header-btm-right .header-wishlist a,
.header-bottom .header-btm-right .header-account a {
	padding: 0;
}

.header-bottom .header-btm-right .header-wishlist a:hover {
	background-color: transparent !important;
}

.header-bottom .header-btm-right .header-cart .wc-block-cart-link__text {
	display: none;
}

.header-bottom .header-right-info .header-search .wp-block-search__inside-wrapper {
	border: none;
	padding: 0 12px;
	background-color: var(--wp--preset--color--base-2);
	border-radius: 30px;
}

.header-bottom .header-right-info .header-search .wp-block-search__button {
	padding: 5px;
	background-color: transparent !important;
}

.header-top .header-phone-box a,
.header-top .header-top-right p {
	display: flex;
	gap: 6px;
	align-items: center;
}

.header-top .header-top-right p {
	justify-content: end;
}

header .wp-block-site-title a {
	overflow-wrap: anywhere;
	max-width: 200px;
	font-size: 20px;
	margin: auto;
}

/* Banner */
.banner-cover {
	position: relative;
	width: 96%;
	-webkit-mask-image: url('./assets/images/banner-mask.png');
	mask-image: url('./assets/images/banner-mask.png');
	-webkit-mask-position: center center;
	mask-position: top center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	object-fit: cover;
}

.banner-cover {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.banner-cover .wp-block-cover__inner-container {
	padding: 0;
}

.banner-cover .banner-left .banner-btn .btn-icon a,
.faq-section .faq-left-box .faq-btn .btn-icon a {
	display: flex;
}

.banner-cover .banner-left .banner-btn .btn-text,
.banner-cover .banner-left .banner-btn .btn-icon,
.faq-section .faq-left-box .faq-btn .btn-text,
.faq-section .faq-left-box .faq-btn .btn-icon {
	position: relative;
	z-index: 1;
}

.banner-cover .banner-left .banner-btn .btn-text:after,
.banner-cover .banner-left .banner-btn .btn-icon:after,
.faq-section .faq-left-box .faq-btn .btn-text:after,
.faq-section .faq-left-box .faq-btn .btn-icon:after {
	content: '';
	position: absolute;
	background-color: transparent;
	height: 119%;
	border: 1px solid var(--wp--preset--color--text-1);
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	border-radius: 35px;
	z-index: -1;
}

.banner-cover .banner-left .banner-btn .btn-text:after,
.faq-section .faq-left-box .faq-btn .btn-text:after {
	width: 105%;
}

.banner-cover .banner-left .banner-btn .btn-icon:after,
.faq-section .faq-left-box .faq-btn .btn-icon:after {
	width: 117%;
}

.banner-cover .banner-left .banner-btn .btn-icon img,
.faq-section .faq-left-box .faq-btn .btn-icon img {
	height: 16px;
	width: 18px !important;
}

.banner-cover .banner-right-img img {
	object-fit: contain;
}

/* Best Seller Section */
.best-seller-section .block-editor-block-list__block.best-product-inner-box.owl-carousel {
	display: grid;
}

.best-seller-section .best-product-main-box .best-product-box .product-desc p {
	font-size: 14px;
	margin: 0;
}

.best-seller-section .best-product-main-box .best-product-box .wc-block-components-product-image__inner-container {
	padding: 0;
}

.best-seller-section .best-product-main-box .best-product-box .wp-block-woocommerce-product-summary {
	margin-top: 10px;
}

.best-seller-section .best-product-main-box .best-product-box .product-rating,
.best-seller-section .best-product-main-box .best-product-box .product-btn .add_to_cart_button,
.best-seller-section .product-content .product-btn a,
.best-seller-section .product-img {
	position: relative;
}

.best-seller-section .best-product-main-box .best-product-box .product-btn .add_to_cart_button:hover,
.best-seller-section .best-product-box .product-content .product-btn a:hover {
	color: var(--wp--preset--color--base-2) !important;
}

.best-seller-section .best-product-main-box .best-product-box .product-rating:before {
	content: 'Review:';
	position: absolute;
	font-size: 16px;
	top: 56%;
	transform: translateY(-50%);
	right: 0;
	color: var(--wp--preset--color--text-2);
}

.best-seller-section .best-product-main-box .best-product-box .product-tag a:last-child {
	background-color: var(--wp--preset--color--quaternary);
	color: var(--wp--preset--color--text-2);
	padding: 6px 15px;
	border-radius: 20px;
	width: fit-content;
	float: left;
}

.best-seller-section .best-product-main-box .best-product-box .product-btn .add_to_cart_button:after,
.best-seller-section .product-content .product-btn a:after {
	content: '';
	position: absolute;
	background-image: url('./assets/images/cart-img.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	height: 16px;
	width: 22px;
}

.best-seller-section .best-product-main-box .best-product-box:hover {
	background-color: var(--wp--preset--color--quaternary) !important;
}

.best-seller-section .best-product-main-box .best-product-box:hover .product-tag a:last-child {
	background-color: var(--wp--preset--color--tetiary);
	color: var(--wp--preset--color--base-2);
}

.best-seller-section .best-product-box:hover .product-img .product-tag {
	background-color: var(--wp--preset--color--tetiary) !important;
	color: var(--wp--preset--color--base-2) !important;
}

.best-seller-section .best-product-box.wp-block-column {
	margin-bottom: 25px;
}

.best-seller-section .best-product-main-box .best-product-box:hover .product-btn .add_to_cart_button,
.best-seller-section .best-product-box:hover .product-content .product-btn a {
	background-color: var(--wp--preset--color--primary) !important;
}

.best-seller-section .best-product-main-box .best-product-box .product-btn .added_to_cart.wc_forward {
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--base-2);
	font-size: 14px;
	padding: 8px 20px;
	border-radius: 50px;
	font-weight: 600;
	text-decoration: none;
	margin-top: 0;
}

.best-seller-section .product-content .product-btm-box {
	flex-wrap: wrap;
}

.best-seller-section .owl-nav {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	margin-top: 0;
	width: 110%;
	display: flex;
	justify-content: space-between;
	z-index: -1;
}

.best-seller-section .owl-nav button {
	background-color: transparent;
	border: none;
}

.best-seller-section .owl-nav button i {
	position: relative;
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--base-2);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

.best-seller-section .owl-nav button i:hover {
	background-color: var(--wp--preset--color--primary);
}

.best-seller-section .owl-nav button i:after {
	content: '';
	position: absolute;
	background-color: transparent;
	height: 110%;
	width: 110%;
	border: 1px solid var(--wp--preset--color--secondary);
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	border-radius: 35px;
	z-index: -1;
}

.best-seller-section .owl-dots {
	text-align: center;
}

.best-seller-section .owl-dots .owl-dot {
	border: none;
	padding: 6px;
	background-color: var(--wp--preset--color--primary);
	margin: 5px;
	border-radius: 50%;
}

.best-seller-section .owl-dots .owl-dot.active {
	opacity: 0.5;
}

.best-seller-section .product-img .product-tag {
	position: absolute;
	top: 0;
	left: 0;
}

.best-seller-section .product-content .product-review {
	display: flex;
	align-items: center;
	gap: 10px;
}

.best-seller-section .product-content .product-review img {
	height: 15px;
	width: auto !important;
}

.best-seller-section .product-content .product-btn a {
	padding-left: 50px !important;
}

/* Sustainability Section */
.sustainability-section .practice-box {
	box-shadow: -1px 1px 4px 0px #00000040, -1px 1px 4px 0px #00000040 inset;
	transition: 1s;
}

.sustainability-section .practice-box .practice-img {
	background-color: var(--wp--preset--color--secondary);
	border-radius: 50%;
	height: 60px;
	width: 60px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	top: -28px;
	position: relative;
	transition: 1s;
}

.sustainability-section .practice-box .practice-title a {
	text-decoration: none;
}

.sustainability-section .practice-right-img,
.sustainability-section .practice-right-img img {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

.sustainability-section .practice-box:hover {
	background-color: var(--wp--preset--color--quaternary) !important;
}

.sustainability-section .practice-box:hover .practice-img {
	background-color: var(--wp--preset--color--primary);
}

.sustainability-section .practice-box .practice-img img {
	transition: 1s;
}

.sustainability-section .practice-box:hover .practice-img img {
	transform: rotate(-360deg);
}

/* FAQ Section */
.faq-section .faq-left-box .faq-left-img img {
	height: 210px;
	object-fit: cover;
}

.faq-section .faq-left-box .faq-btm-box .faq-location,
.faq-section .faq-left-box .faq-btm-box .faq-btn {
	flex-basis: 50%;
}

.faq-section .faq-left-box .faq-phone a,
.faq-section .faq-left-box .faq-time,
.faq-section .faq-left-box .faq-mail a,
.faq-section .faq-left-box .faq-location a {
	display: flex;
	text-decoration: none;
	gap: 15px;
}

.faq-section .faq-left-box .faq-phone i,
.faq-section .faq-left-box .faq-time i,
.faq-section .faq-left-box .faq-mail i,
.faq-section .faq-left-box .faq-location i {
	background-color: var(--wp--preset--color--base-2);
	color: var(--wp--preset--color--secondary);
	height: 30px;
	width: 30px;
	min-width: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-cover .banner-left .banner-btn .btn-text a:hover,
.banner-cover .banner-left .banner-btn .btn-icon a:hover,
.faq-section .faq-left-box .faq-btn .btn-text a:hover,
.faq-section .faq-left-box .faq-btn .btn-icon a:hover {
	background-color: var(--wp--preset--color--base-2) !important;
	color: var(--wp--preset--color--secondary) !important;
}

.banner-cover .banner-left .banner-btn .btn-icon a img:last-child,
.banner-cover .banner-left .banner-btn .btn-icon a:hover img:first-child,
.faq-section .faq-left-box .faq-btn .btn-icon a img:last-child,
.faq-section .faq-left-box .faq-btn .btn-icon a:hover img:first-child {
	display: none;
}

.banner-cover .banner-left .banner-btn .btn-icon a:hover img:last-child,
.faq-section .faq-left-box .faq-btn .btn-icon a:hover img:last-child {
	display: inline;
}

.faq-section .faq-right-box .faq-title summary:after {
	content: '';
	position: absolute;
	background-image: url(./assets/images/faq-1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 7px;
	width: 15px;
	top: 50%;
	left: 18px;
	transform: translateY(-50%);
}

.faq-section .faq-right-box .faq-title[open] summary:after {
	background-image: url(./assets/images/faq-2.png);
}

.faq-section .faq-right-box .faq-title summary {
	border-radius: 12px;
	background-color: var(--wp--preset--color--base-2);
	list-style: none;
	position: relative;
}

.faq-section .faq-right-box .faq-title summary,
.faq-section .faq-right-box .faq-title .faq-desc {
	padding: 7px 20px 7px 35px;
}

.faq-section .faq-right-box .faq-title[open] summary {
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--base-2);
}

/* Footer Section */
.home .footer-outer {
	background-color: var(--wp--preset--color--base);
}

.footer-section a:hover,
.header-top .header-phone-box a:hover,
.header-bottom .header-cart a.wc-block-cart-link:hover svg,
.header-bottom .header-account a:hover svg {
	color: var(--wp--preset--color--primary) !important;
}

.footer-section .footer-boxes .footer-phone a,
.footer-section .footer-boxes .footer-mail a,
.footer-section .footer-boxes .footer-location a,
.footer-section .footer-box3 a,
.footer-section .footer-box4 a {
	text-decoration: none;
}

.footer-section .footer-boxes .footer-phone a,
.footer-section .footer-boxes .footer-mail a,
.footer-section .footer-boxes .footer-location a {
	display: flex;
}

.footer-section .footer-boxes .footer-phone i,
.footer-section .footer-boxes .footer-mail i,
.footer-section .footer-boxes .footer-location i {
	margin-left: 10px;
	font-size: 16px;
	display: block;
	margin-top: 5px;
}

.footer-section .footer-box3 ul,
.footer-section .footer-box4 ul {
	list-style: none;
	padding-right: 0;
}

/* Scroll to Top */
.scroll-top-btn {
	display: none;
	/* Initially hidden */
	position: fixed;
	bottom: 20px;
	left: 20px;
	background: var(--wp--preset--color--primary);
	color: white;
	border: none;
	border-radius: 50% !important;
	cursor: pointer;
	z-index: 1000;
	transition: opacity 0.3s;
}

.scroll-top-btn .wp-block-button__link.wp-element-button {
	border-radius: 50% !important;
	padding: 0 !important;
	margin: 0 !important;
}

.scroll-top-btn .wp-block-button__link,
.scroll-top-btn .wp-block-button__link:hover {
	background-color: transparent !important;
	font-size: 20px;
}

.scroll-top-btn .wp-block-button__link i {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--wp--preset--color--base-2);
}

/* Woocommerce */
.woocommerce-page .wc-block-components-product-button .added_to_cart.wc_forward,
.single-product .woocommerce-notices-wrapper .wc-block-components-notice-banner__content a.wc-forward {
	background-color: var(--wp--preset--color--primary) !important;
	border-radius: 50px;
	padding: 10px 28px !important;
	text-decoration: none;
	color: var(--wp--preset--color--link-color) !important;
	font-weight: 600;
}

.single-product .wc-block-components-notice-banner {
	align-items: center;
}

.single-product .woocommerce-notices-wrapper .wc-block-components-notice-banner__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.single-product .wp-block-group.woocommerce.product {
	margin-top: 0;
}

.single-product .wp-block-woocommerce-product-meta .wp-block-group {
	flex-wrap: wrap;
}

.woocommerce-shop .products-box .add_to_cart_button span {
	font-size: 15px;
}

.woocommerce-shop .wc-block-product {
	box-shadow: 0px 4px 4px 0px #00000040;
	border: 2px solid #EBEBEB;
	border-radius: 20px;
	padding: 10px;
}

.woocommerce-shop .wc-block-product:hover {
	border: 2px solid var(--wp--preset--color--primary);
}

.woocommerce-shop .products-box .add_to_cart_button,
.woocommerce-page .wc-block-components-product-button .added_to_cart.wc_forward,
.single-product .woocommerce-notices-wrapper .wc-block-components-notice-banner__content a.wc-forward {
	border: 2px solid var(--wp--preset--color--primary);
}

.woocommerce-page .woocommerce-Address-title h2 {
	font-size: 30px;
}

.woocommerce-page .addresses .title .edit {
	float: right !important;
	border-radius: 0;
	padding: 8px 28px !important;
	background-color: var(--wp--preset--color--primary);
}

.woocommerce-page .woocommerce span.onsale {
	background-color: var(--wp--preset--color--primary);
}

.woocommerce-page .wc-block-components-checkout-return-to-cart-button {
	background-color: var(--wp--preset--color--primary);
	padding: 10px 25px 10px 10px;
	color: #fff;
}

/* Product Review */
.single-product #reviews {
	box-shadow: 0 0 6px 2px #b9b9b9;
	padding: 10px 20px 15px;
}

.single-product #reviews .comment-form-author label,
.single-product #reviews .comment-form-author #author,
.single-product #reviews .comment-form-email label,
.single-product #reviews .comment-form-email #email {
	display: block;
	margin: 0;
}

.single-product #reviews .comment-form-author #author,
.single-product #reviews .comment-form-email #email {
	width: -webkit-fill-available;
	padding: 10px;
}

.single-product #reviews .comment-form-cookies-consent {
	padding: 10px 0;
}

.single-product #reviews .comment-form-cookies-consent {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.single-product #reviews .comment-form-cookies-consent input#wp-comment-cookies-consent {
	margin-top: 6px;
}

/* My Account */
.woocommerce-account .woocommerce-MyAccount-navigation li {
	background-color: var(--wp--preset--color--secondary);
	margin-bottom: 10px;
	padding: 10px !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation li a {
	color: var(--wp--preset--color--base-2);
}

/* Sidebar */
.sidebar-boxes ul.wp-block-latest-posts {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.sidebar-boxes ul.wp-block-latest-posts .wp-block-latest-posts__post-title {
	font-weight: 600;
	font-size: 16px;
}

.comment-box .wp-block-post-comments-form .comment-form-cookies-consent {
	display: flex;
	align-items: flex-start;
}

.single-post .wp-block-column .wp-block-post-featured-image img.wp-post-image {
	height: 300px;
	width: auto;
}

/* Media */
@media screen and (max-width: 991px) {

	.header-bottom .header-btm-left .wp-block-navigation__responsive-container-open,
	.header-bottom .header-btm-left .wp-block-navigation__responsive-container.is-menu-open {
		display: block;
	}

	.header-bottom .header-btm-left .wp-block-navigation__responsive-container {
		display: none;
	}

	.header-bottom .header-btm-left .wp-block-navigation__responsive-container-content a {
		padding: 12px 16px !important;
	}

	.header-bottom .header-btm-left .wp-block-navigation__responsive-container-content ul.wp-block-navigation {
		gap: 0;
	}

	.header-bottom .header-btm-left ul.wp-block-navigation__submenu-container {
		padding-top: 0 !important;
	}

	.header-bottom .header-btm-left ul.wp-block-navigation__container .wp-block-navigation-item.has-child .wp-block-navigation-submenu li {
		padding-right: 30px;
	}

	.header-bottom .header-btm-left ul.wp-block-navigation__container .wp-block-navigation-item.has-child .wp-block-navigation-submenu li a:before {
		content: '\f107';
		font-weight: 900;
		font-family: "Font Awesome 7 Free";
		position: absolute;
		right: 0;
		top: 22px;
		transform: translateY(-50%);
		color: var(--wp--preset--color--base-2);
		font-size: 12px;
	}

	.header-bottom .header-btm-left nav ul a:hover {
		color: var(--wp--preset--color--text-1);
	}
}

@media screen and (max-width: 1199px) {
	.banner-cover .banner-left .banner-para {
		padding-left: 0 !important;
	}
}

@media screen and (max-width: 500px) {
	.header-bottom .header-right-info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.header-bottom .header-right-info .header-search {
		grid-column: span 3 / span 3;
	}

	.header-bottom .header-right-info .header-wishlist {
		grid-row-start: 2;
	}

	.header-bottom .header-right-info .header-cart {
		grid-row-start: 2;
	}

	.header-bottom .header-right-info .header-account {
		grid-row-start: 2;
	}

	.header-bottom .header-btm-right .header-account a {
		justify-content: end;
	}

	.header-bottom .header-btm-left nav {
		justify-content: center;
	}

	.sustainability-section .practice-main-box {
		padding: 10px !important;
	}

	.sustainability-section .practice-main-box .practice-col-left,
	.sustainability-section .practice-main-box .practice-col-middle {
		padding: 20px 0 !important;
	}

	.sustainability-section .practice-right-img,
	.sustainability-section .practice-right-img img {
		height: 220px !important;
	}

	.footer-section .footer-boxes .footer-location i {
		margin-left: 0;
	}
}

@media screen and (min-width: 501px) and (max-width: 767px) {
	.header-bottom .header-btm-boxes {
		flex-wrap: nowrap !important;
	}
}

@media screen and (min-width: 501px) and (max-width: 991px) {
	.sustainability-section .practice-main-box {
		padding: 10px !important;
		flex-wrap: wrap !important;
	}

	.sustainability-section .practice-main-box .practice-col-left,
	.sustainability-section .practice-main-box .practice-col-middle {
		padding: 20px 0 !important;
		flex-basis: 45% !important;
	}

	.sustainability-section .practice-right-img,
	.sustainability-section .practice-right-img img {
		height: 220px !important;
	}

	.sustainability-section .practice-main-box .practice-col-right {
		flex-basis: 100% !important;
	}
}

@media screen and (min-width: 600px) and (max-width: 799px) {
	.related-poducts ul {
		display: grid !important;
		grid-template-columns: auto auto;
	}

	.related-poducts ul li {
		width: 100% !important;
	}
}

@media screen and (min-width: 800px) and (max-width: 991px) {
	.related-poducts ul {
		display: grid !important;
		grid-template-columns: auto auto auto;
	}

	.related-poducts ul li {
		width: 100% !important;
	}
}

@media screen and (max-width: 991px) {

	.wc-block-cart__sidebar .wc-block-components-totals-coupon__form .wc-block-components-button__text,
	.single-product .taxonomy-product_tag,
	.wc-block-cart__sidebar .wc-block-cart__submit .wc-block-cart__submit-button,
	.wc-block-checkout__actions .wc-block-checkout__actions_row button.wc-block-components-button,
	.woocommerce-shop .products-box .add_to_cart_button span,
	.single-product div.product form.cart div.quantity .qty,
	.single-product .taxonomy-product_cat,
	.single-product .single_add_to_cart_button,
	.related-poducts li .add_to_cart_button span,
	.woocommerce-page .wc-block-components-product-button .added_to_cart.wc_forward,
	.single-product #reviews .form-submit .submit.wp-block-button__link {
		font-size: 15px;
	}

	.woocommerce-shop .products-box .wp-block-post-title a,
	.related-poducts li .wp-block-post-title a {
		font-size: 18px;
	}

	.woocommerce-shop .products-box .wp-block-woocommerce-product-price ins bdi,
	.woocommerce-shop .products-box .wp-block-woocommerce-product-price del bdi,
	.related-poducts li .wp-block-woocommerce-product-price ins bdi,
	.related-poducts li .wp-block-woocommerce-product-price del bdi {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.home .header-top .header-logo-box {
		margin-bottom: 0;
	}

	.header-top .header-phone-inner,
	.header-top .header-top-right p {
		justify-content: center;
		text-align: right;
	}

	.home .header-bottom {
		position: static;
		background-color: var(--wp--preset--color--secondary) !important;
	}

	.banner-cover {
		mask-image: none;
	}

	.banner-cover .banner-right-img img {
		height: 200px !important;
	}

	.banner-cover {
		min-height: 560px !important;
	}

	.banner-cover .banner-left {
		text-align: center;
	}

	.banner-cover .banner-left .banner-btn {
		justify-content: center;
	}

	.banner-cover .banner-right {
		display: flex;
		justify-content: center;
	}

	.best-seller-section .owl-nav {
		display: none;
	}

	.best-seller-section .product-content .product-price .wc-block-components-product-price,
	.best-seller-section .product-content .product-price {
		text-align: right;
	}

	.faq-section .faq-left-box .faq-btm-box .faq-location,
	.faq-section .faq-left-box .faq-btm-box .faq-btn {
		flex-basis: 100%;
	}

	.faq-section .faq-left-box .faq-btm-box {
		flex-wrap: wrap;
	}

	.faq-section .faq-left-bg .faq-info-box {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.footer-section .footer-box2 ul li,
	.footer-section .footer-boxes .footer-phone a,
	.footer-section .footer-boxes .footer-mail a,
	.footer-section .footer-boxes .footer-location a {
		justify-content: center;
	}

	.footer-section .footer-boxes {
		text-align: center;
	}

	.footer-section .footer-boxes li a {
		font-size: 14px !important;
	}

	.footer-section .footer-box1 {
		padding-left: 0 !important;
	}

	.footer-section .footer-box2 nav ul,
	.footer-section .footer-box2 nav ul li {
		width: 100%;
	}
}

@media screen and (min-width: 729px) and (max-width: 991px) {
	.wc-block-checkout__sidebar .wc-block-components-order-summary-item {
		flex-wrap: wrap;
	}

	.wc-block-checkout__sidebar .wc-block-components-order-summary-item__description {
		padding: 0;
	}

	.wc-block-checkout__sidebar .wc-block-components-checkout-order-summary__content {
		padding: 10px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.header-top .header-top-boxes {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 8px;
	}

	.header-top .header-top-boxes .header-phone-box {
		grid-column: span 2 / span 2;
	}

	.header-top .header-top-boxes .header-logo-box {
		grid-column: span 2 / span 2;
		grid-column-start: 2;
		grid-row-start: 2;
	}

	.header-top .header-top-boxes .header-top-right {
		grid-column: span 2 / span 2;
		grid-column-start: 3;
		grid-row-start: 1;
	}

	.header-top .header-phone-box p,
	.header-top .header-top-right p {
		font-size: 12px !important;
	}

	.header-bottom .header-btm-boxes,
	.banner-cover .banner-boxes,
	.faq-section .faq-content {
		flex-wrap: nowrap !important;
	}

	.header-bottom .header-right-info .header-search .wp-block-search__inside-wrapper {
		width: 140px;
	}

	.banner-cover {
		min-height: 500px !important;
	}

	.best-seller-section .product-content .product-price .wc-block-components-product-price,
	.best-seller-section .product-content .product-price {
		text-align: right;
	}

	.best-seller-section .product-content .product-head-box {
		flex-wrap: wrap !important;
	}

	.best-seller-section .owl-nav {
		width: 120%;
	}

	.best-seller-section .product-content .product-head-box .product-left,
	.best-seller-section .product-content .product-head-box .product-right,
	.faq-section .faq-left-box,
	.faq-section .faq-right-box {
		flex-basis: 100% !important;
	}

	.faq-section .faq-left-bg .faq-info-box {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.footer-section .footer-boxes {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.single-product .taxonomy-product_cat {
		font-size: 16px;
	}

	.single-product .single-product-content {
		flex-wrap: nowrap !important;
	}

	.single-product .single-product-right {
		flex-basis: 100% !important;
	}

	.home .header-top .header-logo-box a {
		font-size: 10px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

	.header-top .header-phone-box p,
	.header-top .header-top-right p {
		font-size: 12px !important;
	}

	.header-bottom .header-right-info .header-search {
		width: 175px;
	}

	.best-seller-section .product-content .product-price .woocommerce-Price-amount.amount bdi {
		font-size: 18px;
	}

	.best-seller-section .owl-nav {
		width: 118%;
	}

	.sustainability-section .practice-main-box {
		padding-right: 18px !important;
	}

	.footer-section .footer-boxes {
		gap: 10px;
	}

	.footer-section .footer-boxes .footer-box1 {
		padding-left: var(--wp--preset--spacing--30) !important;
	}
}

@media screen and (max-width: 1399px) {
	.header-bottom .header-right-info .header-search {
		margin-left: 0 !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
	.faq-section .faq-left-box .faq-btm-box {
		flex-wrap: wrap;
	}

	.faq-section .faq-left-box .faq-btm-box .faq-location,
	.faq-section .faq-left-box .faq-btm-box .faq-btn {
		flex-basis: 100%;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.banner-cover .banner-left .banner-para {
		padding-left: 5rem !important;
	}

	.best-seller-section .product-content .product-price .woocommerce-Price-amount.amount bdi {
		font-size: 18px;
	}

	.best-seller-section .product-content .product-left,
	.best-seller-section .product-content .product-right {
		flex-basis: 50% !important;
	}

	.best-seller-section .owl-nav {
		width: 115%;
	}

	.footer-section .footer-boxes {
		gap: 20px;
	}

	.footer-section .footer-boxes .footer-box1 {
		padding-left: var(--wp--preset--spacing--30) !important;
	}
}

@media screen and (min-width: 1300px) and (max-width: 1700px) {
	.home .header-top .header-logo-box a {
		font-size: 20px;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
	.banner-cover .banner-left .banner-para {
		padding-left: 8rem !important;
	}

	.best-seller-section .owl-nav {
		width: 112%;
	}

	.faq-section .faq-left-box .faq-btn .btn-text a {
		padding-right: 20px !important;
		padding-left: 20px !important;
	}
}