<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"seafood-shop/cover-single-post"} /-->

<!-- wp:group {"tagName":"main","className":"r-blog-spacing","style":{"spacing":{"margin":{"top":"60px","bottom":"60px"},"padding":{"right":"0px","left":"0px"}}},"layout":{"type":"constrained","contentSize":"90%"}} -->
<main id="content" class="wp-block-group r-blog-spacing" style="margin-top:60px;margin-bottom:60px;padding-right:0px;padding-left:0px"><!-- wp:pattern {"slug":"seafood-shop/single-post-right-sidebar"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->